
fieldset {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    margin: auto;
    width: 100px;
}

ul {
    list-style: none;
    flex-direction: column;
    justify-content: center;
}

li {
    background-color: rgb(172, 172, 172);
    margin: 10px;
}

.formulaire_identification {
    list-style: none;
    flex-direction: column;
    justify-content: center;
}

.formulaire_chambre {
    flex-direction: column;
    justify-content:flex-start;
}
@media(min-width="600px") {
    .formulaire_chambre {
        flex-direction: row;
        flex-wrap: wrap;
    }
}