@charset "UTF-8";

@import url(typo.css);

fieldset {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    margin: auto;
    width: 100px;
}

/** Header */ 
header {
    background-color: black;
}
.tableau_titre {
    display: grid;
    max-height: 600px;
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr)  ;
    grid-template-rows:repeat(3,1fr) ;
}
.bloc_titre {
    font-size: 3em;
    text-align: center;
    color: blueviolet;
    font-style:italic;
}
.bloc_img {
    grid-column: 2;
    grid-row: 1/4;
}

/** Pour toutes les listes ul/ li*/
.ul_principal {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}
.li_nav {
    background-color: aqua;
    width: fit-content;
    margin: 10px;
    flex: 0 1 auto;
    text-align: center;
}
.li_nav .active {
    background-color: red;
}

.formulaire_chambre {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
}
@media (min-width:600px) {
    .formulaire_chambre {
        flex-direction: row;
    }
}



.formulaire_identification {
    list-style: none;
    flex-direction: column;
    justify-content: center;
}


/** Image */
.image_chambre {
    max-width: 700px;
}
img {
    display: block;
}

/** sélection de chambre */
.chambre {
    margin: auto;
    background-color: bisque;
    border: 2px solid black;
}
label {
    text-align: center;
    display: inline-block;
}

.chambre:hover, input[type="radio"]:checked + label {
    background-color:white;
    transform: scale(1.1);
    border: 2px solid black;
}

/** style du formulaire d'identification */
.identity {
    margin: 2em;
}

/** aside */
@media (min-width:600px) {
    aside {
        position: absolute;
        left: 0px;
        top: 800px;
        width: 300px;
        background-color: gray;
        padding: 10px;
    }
    main {
        padding-left: 340px;
    }
    
}
aside {
    
  }
  



