@charset "UTF-8";

@import url(typo.css);

fieldset {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    margin: auto;
    width: 100px;
}


/** Pour toutes les listes ul/ li*/
.nav_principal {
    background-color: black;
}
.ul_principal {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}
.li_nav {
    background-color: aqua;
    width: fit-content;
    margin: 10px;
    flex: 0 1 auto;
    text-align: center;
}
.li_nav .active {
    background-color: red;
}

.formulaire_chambre {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
}
@media (min-width:600px) {
    .formulaire_chambre {
        flex-direction: row;
    }
}



.formulaire_identification {
    list-style: none;
    flex-direction: column;
    justify-content: center;
}


/** Image */
.image_chambre {
    max-width: 300px;
}




